# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
.venv/
venv/
env/

# Environment / secrets
.env
.env.*

# IDE / editor
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints/

# Testing / cache
.pytest_cache/
.coverage

# Logs
*.log

# MLflow / local databases
mlruns/
mlartifacts/
mlflow.db
*.db

# Raw datasets
data/raw/

# OS files
.DS_Store
Thumbs.db
